# Compiler files
cache/
out/
bin/
lib/

# Ignores development broadcast logs
/broadcast
logs

# Dotenv file
.env

# npm
node_modules
package-lock.json
yarn.lock
*.log

# hardhat
cache_hardhat
artifacts

config.ts